{% extends 'client/index.html' %}

{% block content %}
    <a href="{% url 'add_client' %}">add client</a>
    <form action="{% url 'clients' %}" method="get">
        Search
        <input name="q" type="text"/>
        <input type="submit" value="Search"/>
    </form>
    <table border="2">
    <tr>
        <th><a href="?ordering={% ifequal 'name' ordering %}-{% endifequal %}name">name</a></th>
        <th>contact name</th>
        <th><a href="?ordering={% ifequal 'email' ordering %}-{% endifequal %}email">email</a></th>
        <th><a href="?ordering={% ifequal 'phone' ordering %}-{% endifequal %}phone">phone</a></th>
        <th><a href="?ordering={% ifequal 'suburb' ordering %}-{% endifequal %}suburb">suburb</a></th>
        <th>street</th>
        <th>postcode</th>
        <th>state</th>
        <th></th>
    </tr>
    {% for obj in object_list %}
        <tr>
            <td>{{ obj.name }}</td>
            <td>{{ obj.contact_name }}</td>
            <td>{{ obj.email }}</td>
            <td>{{ obj.phone }}</td>
            <td>{{ obj.suburb }}</td>
            <td>{{ obj.street }}</td>
            <td>{{ obj.postcode }}</td>
            <td>{{ obj.state }}</td>
            <td>
                <a href="{% url 'update_client' obj.pk %}">Edit</a>
            </td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}